<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <appSettings>
        <add key="url"          value="http://pwcvt-api.dandland.com"/>
        <add key="userid"       value="B48CB323-D0B0-46D2-9C3D-71D831398629" />
        <add key="password"     value="115A974D-55A9-4CCB-86F1-BE7E00297F48"/>
        <add key="UserName"     value= "Dano"/>
    </appSettings>
</configuration>