<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <appSettings>
        <add key="url"          value="http://pwcvt-api.dandland.com"/>
        <add key="userid"       value="" />
        <add key="password"     value=""/>
        <add key="UserName"     value= ""/>
    </appSettings>
</configuration>
